@import './libs/normalize';
@import './themes/base.scss';
@import './themes/dark.scss';
@import './variables/index.scss';

body {
    font-family: var(--font-family-main);
    font-family: var(--font-family-main);
    // transition: background-color 400ms;
    min-height: 100vh;
}
select option:disabled {
    display: none;
}

select {
    color: var(--neutral-400);
    outline: none;
    border: 1px solid var(--neutral-200);
    border-radius: 4px;
}

option[value=''][disabled] {
    display: none;
}

option {
    color: var(--black-900);
}
