@import './libs/normalize';
@import './themes/base.scss';
@import './themes/dark.scss';
@import './variables/index.scss';

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
